body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #38bdf8;
    font-weight: bold;
    cursor: pointer;
}

.options {
    text-align: left;
    margin-top: 10px;
}
